.container
  %h1 Most lip-smacking street food
  .read-more-container
    %ul
    -locations = Location.all
    -locations.each do |location|
      %li
        %h2 #{location.name}
        %p #{location.description}
  %a.button{href: '#'} Read More
  
  .images-container
    %h3 Images of food
    .first-image
      .image-container
        %img{src: 'http://media.lonelyplanet.com/lpi/19063/19063-10/469x264.jpg'}
      %p Perhaps not the healthiest streetside breakfast, a piled-high plate of perfect arepas is hard to beat
    .second-image
      .image-container
        %img{src: 'http://media.lonelyplanet.com/lpi/3808/3808-1/681x454.jpg'}
      %p Perhaps not the healthiest streetside breakfast, a piled-high plate of perfect arepas is hard to beat

    .third-image
      .image-container
        %img{src: 'http://media.lonelyplanet.com/lpi/5478/5478-45/681x454.jpg'}
      %p Perhaps not the healthiest streetside breakfast, a piled-high plate of perfect arepas is hard to beat